In [20]:
import mysql.connector as mariadb

Open the database connection using the connect method.
*since we are opening something.....what else might we need to do?
*hint: close

We are using the print statement as a reminder when we run our script that we are making db connection
& because we are using as a simple way to make sure our code runs to that point in our file.

In [21]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="classicmodels"
)

print("Connecting to MariaDB Database...")

Connecting to MariaDB Database...

Let's check and see if we actually made a connection. To do this we need to create a cursor.
We do this by calling the cursor method.

In [22]:
cur= con.cursor()

st= "SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine= '{}'"

cur.execute(st.format('Motorcycles'))

In the cell above we created and executed our sql statement. But we have not used any methods to actually 
access this data from our select statement.

In [23]:
result= cur.fetchall()
print(result)

con.close()

[('Motorcycles', 13)]

That worked great! Let's make a new database without using the GUI or mysql shell.
-Notice that we are not connecting to a specific database when we make the connection.
-NOTE: strings can be passed directly into the execute method, determine which way works best for 
each individual situation.

In [9]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

#st= "CREATE DATABASE test_db"

cur.execute("CREATE DATABASE test_db")

print("test_db created")

con.close()

Connecting to MariaDB Database...
test_db created

Add a table to the test_db database that we just created.
We need to add the database arguement back to the connection object

In [10]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "CREATE TABLE Registration \
    (id INTEGER, age INTEGER, \
    first VARCHAR(50), last VARCHAR(50))"

cur.execute(st)

print("Registration Table is created")

con.close()

Connecting to MariaDB Database...
Registration Table is created

Insert data into our newly created Registration Table.
*Reminder*
DDL(Data Definition Language)- Create, Drop, Alter, 
DQL(Data Query Language)- SELECT
DML(Data Manipulation Language)- INSERT, UPDATE, DELETE

In [11]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"

cur.execute(st)
con.commit()

print('Values are inserted')

con.close()

Connecting to MariaDB Database...
Values are inserted

Let's check how to see our values, without using a GUI. 
We are using a different process here to access the values instead of the .fetchall() method.

In [15]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "SELECT * FROM Registration"

cur.execute(st)

#result= cur.fetchall()
#print(result)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 29, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Querying with Like Operator

In [16]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "SELECT * FROM Registration WHERE first LIKE '%ich%'"

cur.execute(st)

for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan

UPDATE Example
*Update is part of DML so we want to use the commit method on our connection object

In [17]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "UPDATE Registration \
    SET age= 30 WHERE id IN (100,101)"

cur.execute(st)
con.commit()
print('values are updated')

con.close()

Connecting to MariaDB Database...
values are updated

Let's check if the change was made.

In [18]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db"
)

print("Connecting to MariaDB Database...")

cur= con.cursor()

st= "SELECT * FROM Registration"

cur.execute(st)

#result= cur.fetchall()
#print(result)
for r in cur:
    print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 30, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 30, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Example of using SQL actions with a try and except block

In [19]:
try:
    con= mariadb.connect(
        user="root",
        password="password",
        database="wrong_db"
    )

    print("Conneted to MariaDB...")

    con.close()
except mariadb.Error as e:
    print(e)

1049 (42000): Unknown database 'wrong_db'